:root {
    --icon-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;

}

body {
    font-family: Raleway, sans-serif;
    font-weight: 700;
}

.wrapper {
    min-height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

ul {
    list-style: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    z-index: 23;
    margin-top: 54px;
}

.nav__logo-text {
    transition: 0.4s color;
}

.nav__logo-text:hover {
    color: #6E9C9F;
}

.nav__logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.nav__number-svg {
    margin-right: 15px;
    width: 18px;
    height: 18px;
}

.nav__number-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    vertical-align: 3px;
    font-weight: 400;
    color: #000000;
    margin-right: 60px;
    transition: 0.4s color;
}

.nav__number-text:hover {
    color: #6E9C9F;
}

.nav__basket {
    vertical-align: -3px;
}

.nav__menu-list {
    display: flex;
    align-items: center;
}

.nav__logo-svg {
    margin-right: 15px;
}

.nav__logo-text:hover+.nav__logo-svg-path {
    fill: #6E9C9F;
}

.nav__menu-list li {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    width: 117px;

}

.nav__menu-list>li>a:hover {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    color: #6E9C9F;

}

.section {
    display: flex;
    justify-content: space-between;
}

.section__div {
    margin-top: 200px;
}

.section__div-p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.section__paragraf {
    max-width: 450px;
}

.section__div-h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
}

.section__div2-button {
    padding: 15px 30px;
    color: white;
    background-color: #6E9C9F;
    border: none;
    cursor: pointer;
}

.section__div2-arrow {
    display: inline-block;
    padding: 15px 30px;
    background-color: rgba(110, 156, 159, 0.1);
    ;
    font-size: 15px;
    color: #6E9C9F;
    cursor: pointer;
}

.section__div2 {
    margin-top: 40px;
}

.section__images {
    position: relative;
    z-index: 23;

}

.section__images-biggirl {
    margin-top: 60px;
    width: 400px;
    height: 600px;
}

.section__images-leftgirl {
    position: absolute;
    left: -50px;
    top: 30vh;
}

.section__images-rightgirl {
    position: absolute;
    top: 12vh;
    right: -110px;
}

.button__tabs {
    display: flex;
    justify-content: center;
    margin-right: 700px;

}

.animat {
    animation-duration: 1s;
    animation-name: animattabs;
}

.tabs1 {
    width: 25px;
    height: 5px;
    background-color: #000000;
    margin-right: 5px;
    cursor: pointer;
}

.tabs2 {
    width: 25px;
    height: 5px;
    background-color: #D1D1D1;
    margin-right: 5px;
    cursor: pointer;
}

.tabs3 {
    width: 25px;
    height: 5px;
    background-color: #D1D1D1;
    cursor: pointer;
}

.new__collection {
    margin-top: 150px;
}

.new__collection-title h1 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 2%;
}

.new__collection-slider {
    display: flex;
    justify-content: space-between;
}

.slider-photo1 {
    margin-right: 20px;
}

.slider-photo2 {
    margin-right: 20px;
}

.slider-photo3__text {
    display: flex;
    justify-content: center;
    font-family: 'Ralewey';
    font-weight: 500;
    font-size: 20px;
}

.block__collect3 {
    position: relative;
    height: 478px;
}

.block__collect3 img {
    z-index: -1;
}

.block__collect3 img:hover {
    opacity: 0.6;
    z-index: -1;
}

.strelka {
    position: absolute;
    cursor: pointer;
    width: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 21;
}

.block__hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
    transition: background ease-out 0.5s;
}

.block__collect3:hover>.block__hover,
.strelka:hover+.block__hover {
    background: rgba(110, 156, 159, 0.64);
}

.slider-photo__price {
    display: flex;
    justify-content: center;
    color: #998E78;
    font-family: 'Ralewey';
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
}

.slider-button {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 17px;
    font-family: 'Ralewey';
    font-weight: 400;
}

.slider-button a {
    border: 1px solid #6E9C9F;
    padding: 20px 50px;
    color: #6E9C9F;
    background-color: #fff;
    transition: all 1s ease;

}

.slider-button a:hover {
    background-color: #6E9C9F;
    color: #fff;
    ;

}

.important {
    margin-top: 140px;
}

.important-h1 {
    font-size: 40px;
    font-family: 'Raleway';
    font-weight: 500;
    letter-spacing: 2%;
}

.important-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.important-block1 {
    max-width: 305px;
    height: 220px;
}

.important-h3 {
    margin-top: 40px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
}

.important-h4 {
    margin-top: 33px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
}

.important-h5 {
    margin-top: 37px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
}

.important-p3 {
    margin-top: 25px;
}

.important-p3 span {
    max-width: 305px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
}

.h1-woomazing {
    margin-top: 130px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
}

.slider-container {
    display: flex;
}

.slider-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -60px;
    max-width: 850px;
}

.slider {
    max-width: 85%;
    margin: 20px auto;
    overflow: hidden;
}

.slider-line {
    width: 1024px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
    z-index: -1;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.slider-right {
    margin-top: 110px;
    max-width: 255px;
    height: 300px;
}

.slider-p1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    margin-top: 28px;
}

.slider-p2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    margin-top: 28px;
    margin-bottom: 28px;
}

.slider-p3 a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: #6E9C9F;
}

.slider-right h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
}

.slider-dots {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 60px;
}

.dots1 {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin-right: 5px;
    cursor: pointer;
}

.dots2 {
    width: 30px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.36);
    margin-right: 5px;
    cursor: pointer;
}

.dots3 {
    width: 30px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.36);
    margin-right: 5px;
    cursor: pointer;
}

.footer {
    margin-top: 130px;
    width: 100%;
    background-color: #F1EADC;
    height: 363px;

}

.footer__nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;

}

.footer__wz {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.footer__block1-wz {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000000;
}

.footer__block1-wz a {
    transition: 0.4s color;
}

.footer__block1-wz a:hover {
    color: #6E9C9F;
}

.footer__prava {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.02em;

}

.footer__block2-link span {
    margin-right: 45px;
}

.footer__block2-link {
    margin-bottom: 40px;
}

.footer__block2-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
}

.footer__block2-link a {
    transition: 0.4s color;
}

.footer__block2-link2 a {
    transition: 0.4s color;
}

.footer__block2-link2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
    padding-left: 125px;
}

.footer__block2-link a:hover {
    color: #6E9C9F;
}

.footer__block2-link2 a:hover {
    color: #6E9C9F;
}

.footer__block3-number {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
    transition: 0.4s color;
}

.footer__block3-number:hover {
    color: #6E9C9F;
}

.footer__block3 {
    margin-bottom: 5px;
}

.footer__block3-mail {
    font-family: 'Raleway';
    margin-top: 9px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
}

.footer__block3-mail a:hover {
    color: #6E9C9F;
}

.footer__block3-mail a {
    transition: 0.4s color;
}

.footer__svg {
    margin-bottom: 20px;
}

.footer__svg span {
    margin-right: 12px;
}

.footer__facebook {
    margin-bottom: 2px;
}


@keyframes animattabs {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@media(max-width:840px) {
    .nav__logo {
        
    }
    .nav__logo svg{
        overflow: hidden;
        display: none;
    }
    .nav__logo-text {
        font-size: 35px;
    }
    .container {
        min-width: 900px;
    }
    .section {
        display: flex;
        justify-content: space-around;
    }
    .section__images-biggirl {
       
    }
    .section__images-leftgirl {
        display: none;
        overflow: hidden;
    }
    .section__images-rightgirl {
        display: none;
        overflow: hidden;
    }

    .navigation {
        z-index: 1;
        background-color: #6E9C9F;  
        position: fixed;
        left: -100%;
        display: block;
        top: -50px;
        transition: left 2.5s ease;
    }

    .navigation ul>li {
        margin-bottom: 10px;
    }

    .navigation ul {
        height: 350px;
        width: 350px;
    }

    .nav__menu-list li {
        font-size: 30px;
        width: 200px;
        padding-top: 30px;
        margin: 0 auto;
        text-align: center;
    }
    .nav__menu-list li:nth-child(1){
        margin-top: 60px;
    }
    .nav__number {
        position: ;
    }

    .nav__menu-list li>a {
        font-weight: 700;
        color: #fff;
        text-align: center;
    }

    .navigation-active {
        position: absolute;
        left: 0;
    }

    .nav__menu-list {
        display: block;
    }

    .burger-menu {
        top: 10px;
        left: 15px;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 60px;
        height: 50px;
        cursor: pointer;
        transition: color 0.3s ease;
        --icon-color: #000;
    }

    .burger-menu span {
        position: relative;
        height: 3px;
        width: 80%;
        background-color: var(--icon-color);
        transition: transform 0.2s ease 0.1s;

    }

    .burger-menu span::before,
    .burger-menu span::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        height: 3px;
        width: 100%;
        transition: top 0.1s ease, bottom 0.1s ease, transform 0.2s ease 0.1s;
        background-color: var(--icon-color);
    }

    .burger-menu span::before {
        top: -15px;
        
    }

    .burger-menu span::after {
        bottom: -15px;
    }

    .burger_active span {
        transform: rotate(45deg);
    }

    .burger_active span::before {
        top: 0;
    }

    .burger_active span::after {
        bottom: 0;
        transform: rotate(90deg);
    }


}
